# Archivos temporales de Office y del sistema operativo
~$*
*.tmp
.DS_Store
Thumbs.db

# Editores e IDE
.vscode/
.idea/

# Dependencias y entorno (fase de construcción)
node_modules/
__pycache__/
*.pyc
.env
.venv/
venv/
env/

# Django
*.log
db.sqlite3
staticfiles/
media/

# Compilación del frontend
dist/
build/
